/** === Variables === **/
:root {
  /* Colores */
  --clr-blanco: #F8F8FF;
  --clr-negro: #333;
  --clr-gris: #808080;
  --clr-primero: #7e634e;
  --clr-primero-ligth: #907761;
  --clr-segndo: ;
  --clr-tercero: #c7b69f;


  /* Fonts */
  --ff-primero: 'Overpass', sans-serif;
  --ff-titulo: 'Tinos', serif;


  /* Shadows */
  --shadow-suave: 0 0 5px rgba(0, 0, 0, 0.2);
  --shadow-default: 0 0 10px rgba(0, 0, 0, 0.3);
  --shadow-default-2: 0 0 10px rgba(0, 0, 0, 0.4);

  /* Border */
  --default-radius-border: 0.5rem;
  --main-radius-border: 2.4rem;
  --inner-radius-border: calc(var(--main-radius-border) - 0.8rem);

  /* Tam;os */
  --footer-height: 5vh;
  --header-height: 10vh;

}
/** === Establecemos una configuracion incial del css === **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: var(--clr-negro);
}
body {
  font-family: var(--ff-primero);
  width: 100%;
}
main {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  max-height: 100%;
}
h1 {
  font-family: var(--ff-titulo);
}
h3 {
  font-size: 3rem;
}
p,
img,
label {
  font-size: 1.8rem;
}
nav > ul > li > a{
  font-size: 2.2rem;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
select {
  cursor: pointer;
}
select, 
input:not([type="submit"]),
textarea,
label[for="imagen"] {
  border-radius: var(--default-radius-border);
  box-shadow: var(--shadow-suave);
  padding: 0.5rem;
  padding-bottom: 0.25rem;
  font-size: 1.8rem;
  font-family: var(--ff-primero);
  width: 100%;
  background-color: var(--clr-blanco);
  border: 1px solid transparent;

}
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--clr-primero);
}
input[type="submit"] {
  width: 100%;
  height: 4rem;
  border: 1px solid transparent;
  box-shadow: var(--shadow-suave);
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--clr-primero-ligth);
  color: var(--clr-blanco);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  transition: none;
}
input[type="submit"]:hover {
  transform: scale(1.02);
}
a {
  width: 100%;
}

/* BODY */
#root {
  display: grid;
  grid-template-rows: 10vh 1fr 5vh;
  height: 100%;
}
/* MAIN */
.main {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 0;
}
.contenido {
  display: flex;
  width: 80vw;
  min-width: 700px;
  min-height: 100%;
  border-radius: var(--main-radius-border);
  overflow: hidden;
}
/* Menu de Filtros (aside) */
.filtros {
  background-color: var(--clr-tercero)  ;
  width: 25vh;
  min-width: 200px;
  height: 100%;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.filtros > * {
  width: 80%;
}
.filtros h3 {
  text-align: center;
}
.filtros form .titulo-filtro {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: capitalize;
  display: inline-block;
}
.filtros form > div {
  margin: 0 0 2.5rem 0;
}
/* Menu de Carga de datos (aside) */
.contenedor-cargar-datos {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem 0;
  padding: 2rem 1rem;
  margin: 5rem 0 0 0;
  white-space: nowrap;
  box-shadow: var(--shadow-suave);
  border-radius: var(--inner-radius-border);
  background-color: var(--clr-primero-ligth);
  color: white;
}
.contenedor-cargar-datos > input {
  background-color: var(--clr-tercero);
  color: var(--clr-negro);
  letter-spacing: 0.03rem;
}

select option{
  border-bottom: 1px solid #D3D3D3;
  padding-inline: 0.5rem;
  padding-block: 5px;
}
select option:last-child {
  border-bottom: none;
}
/* Barra de desplazamiento */
select::-webkit-scrollbar { /* Para el track (barra de desplazamiento) */
  width: 8px; 
  background-color: var(--clr-blanco); 
}

select::-webkit-scrollbar-thumb { /* Para el thumb (el coso de la barra de desplazamiento) */
  background-color: var(--clr-gris);
  border-radius: 4px; 
}
select::-webkit-scrollbar-thumb:hover { 
  background-color: #666; 
}
select::-webkit-scrollbar-thumb:active {
  background-color: #444; /* Color del deslizador al hacer clic en él */
}

/* Juegos */
.juegos {
  width: 100%;
  background-color: var(--clr-primero);
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
}
.bloque-juegos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
    /* Permite q las columnas se ajusten automaticamente para adaptarse al ancho disponible del contenedor */
    /* auto-fit -> crea tantas columas como sea posible para llenar el espacio disponible */
    /* minmax(min, max) -> Especifica el tama;o minimo y maximo de cada columna */
    /* 1fr -> 1 fraccion de espacio, la columna puede crecer para ocupar el espacio disponible si hay */
  gap: 5rem 5rem;
  justify-content: space-around;
}

.juego {
  --padding: 1.5rem 2rem;
  max-width: 380px;
  width: 100%;
  overflow: hidden;
  justify-self: center;
  border-radius: 1rem;
  box-shadow: var(--shadow-default);
  background-color: var(--clr-blanco);
}
.juego .header-juego {
  min-height: 200px;
  width: 100%; 
  height: max-content; 
  max-height: 400px;
  overflow: hidden; /* Ocultar cualquier contenido que exceda el tamaño de la tarjeta */
  box-shadow: var(--shadow-default-2);
  border-radius: 0 0 1.5rem 1.5rem; 
}
.juego .header-juego > img {
  background-color: #dfdbe5;
  background-image: url("../img/joystick-color.png");
  background-position: center;
  background-repeat: repeat;
  background-size: 70px;
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
  max-height: 220px;
  border-radius: 0 0 1.5rem 1.5rem; 
  font-size: 4rem;
  text-align: center;
}



.juego:hover > .header-juego > img {
  transform: scale(1.07);
  transition: 0.3s transform ease-in-out;
}
.juego .contenido-juego {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: max-content;
}
.juego .contenido-juego .contenedor-titulo-juego {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  height: 60px;
  justify-content: center;
}
.juego .contenido-juego .titulo-juego {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;  
  text-transform: capitalize;
}
.subrallado {
  width: 100%;
  border: 2px solid var(--clr-primero);
  border-radius: 999px;
  display: inline-block; /* Esto hace que el div ocupe solo el espacio necesario */
}

.juego .contenido-juego .descripcion-juego {
  border-block: 2px solid var(--clr-primero);
  padding-block: 0.3rem;
  min-height: auto;
  max-height: 250px;
  text-align: justify;
  overflow: hidden; /* Oculta el texto que se desborda del ancho máximo */
  display: -webkit-box; /* Establece el modo de visualización como caja flexible de diseño */
  -webkit-line-clamp: 11; /* Límite de líneas para el texto */
  -webkit-box-orient: vertical; /* Orientación vertical de la caja flexible de diseño */
}
.juego .contenido-juego ul {
  padding-inline: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0 4rem;
}
.juego .contenido-juego li{
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: capitalize;
  list-style-type: circle;
}
.juego .contenido-juego .url {
  text-transform: lowercase;
  width: 100%;
  word-wrap: break-word;
  color: var(--clr-primero);
  cursor: pointer;
}

.juego .contenido-juego .contenido-subtitulo {
  font-size: 1.9rem;
  font-weight: 700;
}
.juego .contenido-juego .contenido-subtitulo::first-letter {
  text-transform: capitalize;
}




